{% extends 'base.html' %}
{% block bar4 %}active{% endblock bar4 %}
{% block title %}About Us{% endblock title %}
{% block body %}
<div class="container mt-4 mx-auto" style="width: 600px;">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/img/self1.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <p class="card-text">The long journey started in 2013 when I started my YouTube channel with some technical and news websites <a href="#wholestory">continue reading...</a></p>
                    <p class="card-text"><a href="http://" target="_blank">Visit SocialProfile</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container mt-3">
    <div id="wholestory" style="border: 2px solid grey;">
        <hr>
        <h2 class="text-center">My Success Story</h2>
        <hr>
        <p style="padding: 8px;" ><h1>Loading...............</h1></p>
    </div>
</div>
{% endblock body %}