{% extends 'base.html' %}
{% block bar2 %}active{% endblock bar2 %}
{% block title %}Portfolio{% endblock title %}
{% block othercss %}/static/css/gallerycss.css{% endblock othercss %}
{% block body %}
<div class="container mt-4">
    <div class="contenttop">
        <img src="/static/img/newscutting01.jpg" alt="slow internet please refresh" style="width:100%">
        <h3>With Shri Harvinder Kumar Sahani Urf Romi Sahani</h3>
        <p>Time when i was appreciated by our area MLA</p>
    <hr>
    </div>
    <h2 style="text-align: center;">My gallery</h2>
    <div class="row">
        <div class="column">
            <div class="content">
                <img src="/static/img/self9.JPG" alt="slow internet please refresh" style="width:100%">
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="/static/img/self11.JPG" alt="slow internet please refresh" style="width:100%">
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="/static/img/self8.JPG" alt="slow internet please refresh" style="width:100%">
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="/static/img/self4.jpeg" alt="slow internet please refresh" style="width:100%">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="content">
                <img src="/static/img/self1.jpeg" alt="slow internet please refresh" style="width:100%">
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="/static/img/self2.jpeg" alt="slow internet please refresh" style="width:100%">
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="/static/img/self7.JPG" alt="slow internet please refresh" style="width:100%">
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="/static/img/self12.jpeg" alt="slow internet please refresh" style="width:100%">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="content">
                <img src="/static/img/self3.jpeg" alt="slow internet please refresh" style="width:100%">
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="/static/img/self5.jpeg" alt="slow internet please refresh" style="width:100%">
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="/static/img/self6.jpeg" alt="slow internet please refresh" style="width:100%">
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="/static/img/self10.JPG" alt="slow internet please refresh" style="width:100%">
            </div>
        </div>
    </div>
    <hr>
</div>
{% endblock body %}